* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(96, 170, 235);
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.headline {
    font-size: 200;
}

.choosegender {
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 150;
}

.gender{
    display: flex;
    justify-content: space-around;
}

.gender img{
    height: 20vh;
    width: auto;
}

.input {
    display: flex;
    padding: 1vh 4vw;
    flex-direction: column;
}

.slidecontainer {
    padding-bottom: 1vh;
}